/build/
/build-*/
/external/slang-build-gcc/
/external/slang-src/
/external/slang-gcc/
/external/fpga-tools/
/tools/verilator/
/sigflow.log
.debug/
/3rd/*
# 例外：cpp-httplib 单头（MIT）随仓库分发，供教育版 Agent EDA Gateway 使用。
!/3rd/httplib/
!/3rd/httplib/httplib.h
build_tools/
_deps/
CMakeFiles/